<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @career.title %>
</p>

<p>
	<% @career_skills.each do |p| %>
	<%= p.skill.name %>
	<% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @career.description %>
</p>


<%= render 'user_careers/form' %>


<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
