<%= form_for(@career_skill) do |f| %>
  <% if @career_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@career_skill.errors.count, "error") %> prohibited this career_skill from being saved:</h2>

      <ul>
      <% @career_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :career_id %><br>
    <%= f.collection_select(:career_id, Career.all, :id, :title) %>

  </div>
  <div class="field">
    <%= f.label :skill_id %><br>
    <%= f.collection_select(:skill_id, Skill.all, :id, :name) %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
